body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

#main-page {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#total-menu-mobile {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
}

#menu-mobile {
  padding-bottom: 400px;
  padding-top: 1px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #fff;
}

#close-button {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 38px;
  top: 62px;
}

.contain-menu-link {
  display: flex;
  flex-direction: column;
  margin-top: 108px;
  margin-left: 28px;
  gap: 8px;
}

.menu-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  text-decoration-line: none;
}

.menu-black-line {
  width: 150px;
  height: 4px;
  background: #172b4d;
  border-radius: 24px;
  margin-bottom: 9px;
  margin-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 38px 32px 0 24px;
}

.desktop-header {
  display: none;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

main {
  padding-top: 58px;
  background-image: url("./images/header-background-mobile.png");
  background-size: cover;
}

.big {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  animation-duration: 2.5s;
  animation-name: logo-rotate;
}

@keyframes logo-rotate {
  50% {
    font-size: 10px;
  }

  to {
    transform: rotate(360deg);
  }
}

.black-colored {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #172b4d;
}

.header-colored {
  margin-top: 0;
  color: #1a5b40;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0 24px 0 24px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 45px;
  padding-left: 0;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
}

.chevron {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#show-work {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/my-works-mobile.png");
}

.recent-works {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 22px;
  color: #172b4d;
}

.short-green-line {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(6, 474px);
  row-gap: 24px;
  padding: 62px 22px 0 26px;
}

.grid-item {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
}

.content {
  background: #fff;
  border-radius: 8px;
  margin-top: 252px;
  height: 220px;
  text-align: center;
}

.multi-post {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 11px;
}

.language {
  padding: 8px 12px;
  background: #ebf0ee;
}

.work-button {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  background: #1a5b40;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 9px;
  border: 0;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.about-me-headline {
  text-align: center;
  background-image: url("./images/about-me-background-mobile.png");
  background-size: cover;
  margin-top: 20px;
}

.about-me-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding-top: 48px;
}

.about-me-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px 12px 24px 12px;
}

.about-me-button {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  background: #1a5b40;
  border-radius: 4px;
  color: #fff;
  padding: 12px;
  border: 0;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.grid-container2 {
  display: grid;
  grid-template-rows: repeat(3, 352px);
  row-gap: 24px;
  padding: 59px 24px 10px 24px;
}

.grid-item2 {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background: #ebf0ee;
}

.about-me-icons {
  display: block;
  margin-top: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid2-headlines {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-top: 32px;
}

.about-me-languages {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 28px;
}

.about-me-each-language {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #1a5b40;
}

.about-me-frameworks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0 28px;
}

.about-me-each-framework {
  padding: 12px;
  margin: 4px;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #1a5b40;
}

.about-me-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0 28px;
}

.about-me-each-skill {
  padding: 12px;
  margin: 4px;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #1a5b40;
}

.input-button {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  background: #1a5b40;
  border-radius: 4px;
  color: #fff;
  padding: 12px;
  border: 0;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.work-button:hover,
.about-me-button:hover,
.input-button:hover {
  background: #1a5b40;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  font-size: 20px;
}

.work-button:active,
.about-me-button:active,
.input-button:active {
  background: #008552;
  border-radius: 4px;
}

.footer {
  background-image: url("./images/contact-form-background-mobile.png");
  background-size: cover;
}

.footer-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 50px 24px 58px 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 24px;
}

.long-grey-line {
  display: none;
}

.input-text {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin: 0;
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 0 16px;
}

.input-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 114px;
  margin: 0;
  margin-bottom: 24px;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 0 12px;
}

.email-footer {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.short-black-line {
  width: 150px;
  height: 4px;
  background: #172b4d;
  border-radius: 24px;
  margin-top: 320px;
}

@media (min-width: 768px) {
  main {
    padding: 0;
    padding-bottom: 495px;
    background-image: url("./images/header-background-desktop.png");
    background-size: 100% 100%;
  }

  header {
    display: none;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-desktop-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin: 10px 8px;
  }

  .black-colored {
    margin-top: 160px;
  }

  .big {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .text {
    margin: 0 260px;
  }

  .chevron {
    margin-top: 70px;
  }

  .short-green-line {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-rows: repeat(2, 474px);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 24px;
    padding: 0 10%;
  }

  .grid-item:hover {
    transform: scale(1.2);
  }

  .about-me-headline {
    text-align: center;
    background-image: url("./images/about-me-background-desktop.svg");
    background-size: cover;
    margin-top: 144px;
  }

  .about-me-text {
    margin: 24px 18% 24px 18%;
  }

  .grid-container2 {
    display: grid;
    grid-template-rows: none;
    row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    padding: 59px 142px 84px 142px;
  }

  .footer {
    background-image: url("./images/contact-form-background-desktop.png");
    background-size: cover;
  }

  .footer-header {
    width: 463px;
    float: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin: 50px 24px 58px 135px;
  }

  .form {
    margin: 0 135px 0 24px;
  }

  .input-button {
    align-self: flex-start;
  }

  .below {
    margin-top: 15px;
  }

  .email-footer {
    display: none;
  }

  .short-black-line {
    display: none;
  }

  .long-grey-line {
    display: block;
    height: 1px;
    background: #dfe1e6;
    margin-top: 225px;
  }
}
